/* CSS declarations go here */
.margin-bottom { margin-bottom: 10px;}

* {
  font-family: Roboto, Arial, sans-serif;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: -moz-none;
  -o-user-select: none;
  user-select: none;
  margin: 0;
  padding: 0;
}

paper-input {
  width: 200px;
  margin: auto;
}

body {
  display: flex;
  /*min-width: 1250px;*/
  width: 100%;
  height: 800px;
  justify-content: center;
  -webkit-transition: all 0.7s ease-out;
  -moz-transition:   all 0.7s ease-out;
  -ms-transition:   all 0.7s ease-out;
  -o-transition:   all 0.7s ease-out;
  transition:   all 0.7s ease-out;
  flex-direction: row-reverse;
}

h1 {
  font-weight: 100;
  font-family: Roboto, Arial, sans-serif;
  margin: 0;
  padding: 0;
  cursor: default;
  align-self: flex-start;
  width: 100%;
  color: #a1a1a1;
}

h2 {
  font-weight: 100;
  font-family: Roboto, Arial, sans-serif;
  margin: 0;
  padding: 0;
  cursor: default;
  font-size: 24px;
  color: #747474;

}

.product-container {
  padding: 15px;
  width: 375px;
  -webkit-transition: all 0.7s ease-out;
  -moz-transition: all 0.7s ease-out;
  -ms-transition: all 0.7s ease-out;
  -o-transition: all 0.7s ease-out;
  transition: all 0.7s ease-out;
}

.output {
  display: flex;
  flex-direction: column;
  padding: 30px;
  font-family: Roboto, sans-serif;
  font-weight: 300;
  cursor: default;
}

.output .text {
  margin-top: 20px;
  width: 200px;
}

.output span {
  color: #5c6bc0;
  font-weight: 500;
}

paper-button {
  align-self: flex-end;
  margin-top: 20px !important;
}


paper-ripple {
  color: #bdc3c7;
}

paper-fab {
  display: inline-block;
  margin: 8px;
}


.disclaimer {
  color: #919191;
  font-size: 11px;
  width: 800px;
  cursor: default;
}

.analytics {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.loading-screen {
  background: white;
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 100;
  flex-direction: column;
  color: #a1a1a1;
  font-style: italic;
}

.loading-screen h1 {
  text-align: center;
  font-size: 14px;
  margin-top: 8px;
}

.floated-label-placeholder {
  display: none;
}
