.product paper-checkbox {
  font-family: 'Roboto', sans-serif;
  margin: 10px;
  display: flex;
  flex-direction: column;
}

.product-container paper-input { width: 100%;}
.product {
  min-height: 32px;
  width: 100%;
  display: flex;
  align-items: center;
  margin-top: 16px;
  cursor:default;
  position: relative;
  justify-content: space-between;
  padding: 16px;
}
.product:hover {background: #ECEFF1; cursor: pointer;}
.product .description {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
 }
.product .text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 16px;
  width: 100%;
}
.product .name {
  display: flex;
  align-items: center;
  font-size: 18px;
  font-weight: 100;
  text-transform: capitalize;
  white-space: nowrap;
  overflow: hidden;
  /*max-width: 200px;*/
  text-overflow: ellipsis;
  color: #818181;
}
.product .meta {
  font-size: 11px;
  color: #616161;
  display: flex;
  justify-content: center;
  align-items: baseline;
  margin: 4px;
}

.product .meta span{font-size:9px; color: gray; font-weight: 500; align-self: auto; margin-left: 1px;}
.product .delete {  margin-right: 20px; display: none;}
.product .name b { font-weight: 300; color: #3f51b5; text-transform: capitalize;}
.product .metadata {display: flex; width: 200px; justify-content: space-between; font-weight: 300;}
.product .product-image {
  min-width: 40px;
  min-height:40px;
  max-width: 40px;
  max-height:40px;
  object-fit: cover;
  background:#fcfcfc;
  border-radius: 50%;
}

.product .product-grade {
  min-width: 40px;
  min-height:24px;
  max-height:24px;
  object-fit: cover;
  background: none;
  border-radius: 5px;
  margin-right: 8px;
  margin-top: 2px;
}

.product-container .results {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 400px;
}



.little-product-container paper-input { width: 100%;}
.little-product {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor:default;
  position: relative;
  width:  72px;
  height: 72px;
}

.little-product:hover {background: #ECEFF1; cursor: pointer;}
.little-product .description { display: flex; justify-content: center; align-items: center;}
.little-product .text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  text-align: center;
  align-items: center;
}
.little-product .name{
  font-size:12px;
  font-weight: 300;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 75px;
}
.little-product .meta{font-size:11px; color: #747474;}
.little-product .meta span{font-size:10px; color: gray;}
.little-product .delete   {  margin-right: 20px; display: none;}
.little-product .name b   { font-weight: 300; color: #3f51b5;}
.little-product .metadata {  text-align: center;}

.little-product img {
  min-width:  25px;
  min-height: 25px;
  max-width:  25px;
  max-height: 25px;
}

paper-spinner {
  align-self: center;
}


.product-container .legends {
  display: flex;
  font-size: 11px;
  font-style: italic;
  color: #a1a1a1;
  justify-content: space-between;
  align-items: center;
  cursor: default;
}

.dot {
  min-width:  8px;
  min-height: 8px;
  max-width:  8px;
  max-height: 8px;
  border-radius: 50%;
  margin-right: 4px;
}

.calories .dot { background: #CDDC39; }
.sodium   .dot { background: #607D8B; }
.sugars   .dot { background: #00BCD4; }
.fat      .dot { background: #795548; }

.product-container .legends .lg {
  display: flex;
}

.product-container .loading h1 {
  text-align: center;
  font-size: 14px;
  margin-top: 8px;
  color: #a1a1a1;
  font-style: italic;
}

.product-container .results {
  margin-top: 24px;
}

.product-container .loading {
  margin-top: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.product .rating {
  align-self: flex-start;
}

.product .nutri-dot {
  border-radius: 50%;
  min-width:  8px;
  min-height: 8px;
  max-width:  8px;
  max-height: 8px;
  background: none;
  margin-left: 8px;
}

.product .nutri-dot.a { background: #128043; }
.product .nutri-dot.b { background: #86b93b; }
.product .nutri-dot.c { background: #fdca2f; }
.product .nutri-dot.d { background: #ec8122; }
.product .nutri-dot.e { background: #e43f21; }
