.product-detailed {
  background: #FAFAFA;
  border: 1px solid #f4f4f4;
  border-radius: 10px;
  padding: 16px;
  cursor: default;
  width: 960px;
  margin-top: 10px;
  transition: all 2s ease;
  min-height: 50px;
  margin-left: 16px;
}

.product-detailed .details {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin-bottom: 8px;
}


.product-detailed .others  {
  display: flex;
  flex-direction: column;
  /*min-height: 232px;*/
  /*margin-bottom: 16px;*/
}

.product-detailed .product-image {
  min-width: 160px;
  min-height:160px;
  max-width: 160px;
  max-height:160px;
  object-fit: cover;
  background:#fcfcfc;
  border-radius: 50%;
}

.product-detailed .product-name {
  font-weight: 100;
  font-size: 32px;
  font-variant: small-caps;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
  text-overflow: ellipsis;
  color: #818181;
}

.product-detailed .product-ription {
  font-size: 14px;
  color: #818181;
  font-variant: small-caps;
  white-space: nowrap;
  overflow: hidden;
  width: 270px;
  text-overflow: ellipsis;
}

.product-detailed .product-keywords {
  font-size: 12px;
  color: #818181;
}

.product-detailed .product-grade {
  min-height: 40px;
  max-height: 40px;
  border-radius: 10px;
  align-self: flex-end;
}

.product-detailed .product-id {
  font-size: 11px;
  color: #a1a1a1;
}

.product-detailed .row {
  display: flex;
  margin-top: 8px;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.product-detailed .column {
  display: flex;
  flex-direction: column;
}

.product-detailed .add-product {
  align-self: flex-end;
  box-shadow: 1px 1px 10px #888888 !important;
}

.product-detailed .add-product:hover {
  box-shadow: 1px 1px 20px #888888 !important;
}

.product-detailed .add-product-container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.product-image-container {
  margin-right: 16px;
  min-width: 160px;
  min-height: 160px;
  max-width: 160px;
  max-height: 160px;
}

.product-detailed .nutri-row {
  transition: all 1.5s ease-out;
  margin-top: 22px;
  justify-content: flex-start;
  margin-left: 10px;
}

.nutri-row .product-grade {
  margin-left: 16px;
}

.product-detailed .product-description {
  color: #a1a1a1;
  font-size: 14px;
}

.product-detailed .top-details {
  display: flex;
}

.product-detailed .recommendations {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.product-detailed .rs-container {
  min-width: 300px;
}

.product-detailed .ingredients {
  margin-left: 10px;
}

.product-detailed .ingredients h2 {
  font-size: 14px;
  font-weight: 300;
}

.product-detailed .ingredients-text {
  width: 375px;
  font-size: 11px;
  color: #b1b1b1;
}
