.basket-container {
  display: flex;
  position: relative;
  flex-direction: column;
  max-width: 533px;
  min-width: 533px;
  background: white;
  border: 1px solid #e7e7e7;
  padding: 16px;
  margin-left: 16px;
  border-radius: 10px;
  min-height: 200px;
  justify-content: flex-start;
  -webkit-transition: all 0.7s ease-out;
   -moz-transition:   all 0.7s ease-out;
    -ms-transition:   all 0.7s ease-out;
     -o-transition:   all 0.7s ease-out;
        transition:   all 0.7s ease-out;
}

.basket-container .amount {
  display: none;
  position: absolute;
  bottom: 5px;
  right: 5px;
  font-size: 12px;
  color: #3f51b5;
}

.basket-container .amount span {
  color: gray;
}

.basket-container .amount b {
  color: #424242;
}

.basket-container .row {
  display: flex;
  flex-direction: row;
  margin-top: 16px;
  flex-wrap: wrap;
  position: relative;
  justify-content: flex-start;
}

.fav-product {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: relative;
  transition: all 0.5s ease-out;
  min-width: 88px;
  min-height: 88px;
  max-width: 88px;
  max-height: 88px;
  margin-right: 8px;
}

.fav-product:hover {
  background: #ECEFF1;
  border-radius: 5px;
}

.fav-product .fav-image{
  min-width: 40px;
  min-height: 40px;
  max-width: 40px;
  max-height: 40px;
  object-fit: cover;
  background: #fcfcfc;
  border-radius: 50%;
}

.fav-product .fav-name {
  font-size: 12px;
  font-weight: 300;
  color: #818181;
  font-variant: small-caps;
  white-space: nowrap;
  overflow: hidden;
  width: 80px;
  text-overflow: ellipsis;
  text-align: center;
}

.basket-container .save-profile {
  box-shadow: rgb(136, 136, 136) 1px 1px 10px;
}

.fav-product.small {
  min-width:  32px;
  min-height: 32px;
  max-width:  32px;
  max-height: 32px;
  margin-top: 2px;
}

.fav-product.small:hover {
  border-radius: 50% !important;
  min-width:  64px;
  min-height: 64px;
  max-width:  64px;
  max-height: 64px;
}

.small.fav-image :hover {
  border-radius: 50% !important;
  min-width:  64px;
  min-height: 64px;
  max-width:  64px;
  max-height: 64px;
}

.fav-product.small .fav-name {
  display: none;
}

.fav-product.small img{
  min-width:  100%;
  min-height: 100%;
  max-width:  100%;
  max-height: 100%;
}


.myplate {
  align-self: center;
  width: 480px !important;
  border-bottom:0;
}

.myplate .bar span {
  width: 80px !important;
  bottom: -15px;
  font-size: 11px;
  border-top: 1px solid #909090;
}

.myplate .bar {
  display: flex;
  justify-content: center;
  border-radius: 4px 4px 0 0;
  border-bottom: 0px !important;
}

.myplate .bar-fill {
  width: 100%;
  align-self: flex-end;
  /*border-radius: 4px 4px 0 0;*/
}

.myplate .b-veg {border: 2px solid #43A047;}
.myplate .b-fru {border: 2px solid #e53935;}
.myplate .b-pro {border: 2px solid #FB8C00;}
.myplate .b-gra {border: 2px solid #6D4C41;}
.myplate .b-wat {border: 2px solid #1E88E5;}
.myplate .b-ext {border: 2px solid #546E7A;}

.myplate .b-veg-fill {background: #81C784;}
.myplate .b-fru-fill {background: #e57373;}
.myplate .b-pro-fill {background: #FFCC80;}
.myplate .b-gra-fill {background: #A1887F;}
.myplate .b-wat-fill {background: #90CAF9;}
.myplate .b-ext-fill {background: #B0BEC5;}


.basket-products {
  margin-top: 20px;
}

.bar-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-self: baseline;
  position: relative;
}

.bar-container iron-icon {
  position: absolute;
  top:-24px;
  height: 16px;
  width: 16px;
  color: #FBC02D;
}
