.basket-container {
  display: flex;
  position: relative;
  flex-direction: column;
  max-width: 533px;
  min-width: 533px;
  background: white;
  border: 1px solid #e7e7e7;
  padding: 16px;
  margin-left: 16px;
  border-radius: 10px;
  min-height: 200px;
  justify-content: flex-start;
  -webkit-transition: all 0.7s ease-out;
  -moz-transition:   all 0.7s ease-out;
  -ms-transition:   all 0.7s ease-out;
  -o-transition:   all 0.7s ease-out;
  transition:   all 0.7s ease-out;
}

.basket-container .amount {
  display: none;
  position: absolute;
  bottom: 5px;
  right: 5px;
  font-size: 12px;
  color: #3f51b5;
}

.basket-container span {
  color: gray;
}

.basket-container .amount b {
  color: #424242;
}

.basket-container .row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  position: relative;
  justify-content: center;
  margin-top: 16px;
}

.fav-product {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: relative;
  transition: all 0.5s ease-out;
  min-width: 88px;
  min-height: 88px;
  max-width: 88px;
  max-height: 88px;
  margin-right: 8px;
}

.fav-product:hover {
  background: #ECEFF1;
  border-radius: 5px;
}

.fav-product .fav-image{
  min-width: 40px;
  min-height: 40px;
  max-width: 40px;
  max-height: 40px;
  object-fit: cover;
  background: #fcfcfc;
  border-radius: 50%;
}

.fav-product .fav-name {
  font-size: 12px;
  font-weight: 300;
  color: #818181;
  font-variant: small-caps;
  white-space: nowrap;
  overflow: hidden;
  width: 80px;
  text-overflow: ellipsis;
  text-align: center;
}

.basket-container .save-profile {
  box-shadow: rgb(136, 136, 136) 1px 1px 10px;
}

.fav-product.small {
  min-width:  64px;
  min-height: 64px;
  max-width:  64px;
  max-height: 64px;
}

.fav-product.small:hover {
  border-radius: 50% !important;
  min-width:  64px;
  min-height: 64px;
  max-width:  64px;
  max-height: 64px;
}

.small.fav-image :hover {
  border-radius: 50% !important;
  min-width:  64px;
  min-height: 64px;
  max-width:  64px;
  max-height: 64px;
}

.fav-product.small .fav-name {
  display: none;
}

.fav-product.small img{
  min-width:  100%;
  min-height: 100%;
  max-width:  100%;
  max-height: 100%;
}


.myplate {
  align-self: center;
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  transition: all 1.5s ease-out;
  height: 90px;
}

.myplate .bar-container span {
  width: 76px !important;
  bottom: -15px;
  font-size: 11px;
  text-align: center;
  border-top: 1px solid #c1c1c1;
  cursor: default;
}

.myplate .bar-container span:hover {
  cursor: pointer;
  color: #424242;
}


.myplate .bar {
  display: flex;
  justify-content: center;
  border-radius: 4px 4px 0 0;
  border-bottom: 0px !important;
}

.myplate .bar-fill {
  width: 100%;
  align-self: flex-end;
  /*border-radius: 4px 4px 0 0;*/
}

.myplate .b-veg {border: 2px solid #43A047;}
.myplate .b-fru {border: 2px solid #e53935;}
.myplate .b-pro {border: 2px solid #FB8C00;}
.myplate .b-gra {border: 2px solid #6D4C41;}
.myplate .b-wat {border: 2px solid #1E88E5;}
.myplate .b-ext {border: 2px solid #546E7A;}

.myplate .b-veg-fill {background: #81C784;}
.myplate .b-fru-fill {background: #e57373;}
.myplate .b-pro-fill {background: #FFCC80;}
.myplate .b-gra-fill {background: #A1887F;}
.myplate .b-wat-fill {background: #90CAF9;}
.myplate .b-ext-fill {background: #B0BEC5;}


.basket-products {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bar-container {
  display: flex;
  flex-direction: column;
  position: relative;
}

.bar-container iron-icon {
  position: relative;
  height: 16px;
  width:  16px;
  color: #FBC02D;
  cursor: pointer;
  z-index: 100;
  margin-bottom: 2px;
}

iron-icon  .tooltiptext {
  visibility: hidden;
  padding: 0px 4px;
  background-color: #f1f1f1;
  text-align: center;
  border-radius: 6px;
  position: absolute;
  color: #a1a1a1;
  top: -18px;
  white-space: nowrap;
  text-align: center;
  z-index: 1;
  font-size: 10px;

}

iron-icon:hover .tooltiptext {
  visibility: visible;
}

.dot-product {
  min-width:  12px;
  min-height: 12px;
  max-width:  12px;
  max-height: 12px;
  /*border-radius: 50%;*/
  z-index: 1;
  /*margin: 1px;*/
  cursor: pointer;
  border: 2px solid white;
  position: relative;
}

.dot-product.water   {background: #90CAF9;  }
.dot-product.grains  {background: #A1887F;  }
.dot-product.proteins{background: #FFCC80;  }
.dot-product.fruits  {background: #e57373;  }
.dot-product.veggies {background: #81C784;  }
.dot-product.junk    {background: #85969e;  }
.dot-product.dairy   {background: #9575CD;  }
.dot-product.placeholder {background: #EEEEEE;  }
/*
border-color: #90CAF9;
border-color: #A1887F;
border-color: #FFCC80;
border-color: #e57373;
border-color: #81C784;
border-color: #B0BEC5;
border-color: #9575CD;*/

/*.dot-product.water:hover   {border-color: #1976D2;}
.dot-product.grains:hover  {border-color: #4E342E;}
.dot-product.proteins:hover{border-color: #F9A825;}
.dot-product.fruits:hover  {border-color: #c62828;}
.dot-product.veggies:hover {border-color: #2E7D32;}
.dot-product.junk:hover    {border-color: #455A64;}
.dot-product.dairy:hover   {border-color: #512DA8;}*/


.basket-product .fav-image{
  min-width:  56px;
  min-height: 56px;
  max-width:  56px;
  max-height: 56px;
  object-fit: cover;
  background: #fcfcfc;
  border-radius: 50%;
}

.basket-product {
  min-width:  56px;
  min-height: 56px;
  max-width:  56px;
  max-height: 56px;
  position: relative;
  border-radius: 50%;
  cursor: pointer;
  margin: 0px 4px 0px 4px;
  border: 3px solid white;
}

.basket-product:hover {
  border: 3px solid #B0BEC5;
  border-radius: 50%;
}

.basket-placeholder {
  position: absolute;
  bottom:  16px;
  z-index: 1;
  border-top: 2px dotted #c1c1c1;
}

.basket-container .avg-nutriscore {
  display: flex;
  justify-content: flex-end;
}

.basket-container .avg-nutriscore img {
  min-height: 40px;
  max-height: 40px;
  border-radius: 10px;
  align-self: flex-end;
}
